[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = "*"
gevent = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}

[dev-packages]

[requires]
python_version = "3.6"
